<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emg.poiwebeditor.dao.emapgoaccount.AuthorityModelDao">
	<resultMap id="BaseResultMap" type="com.emg.poiwebeditor.pojo.AuthorityModel">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="department" property="department" jdbcType="INTEGER" />
		<result column="enabled" property="enabled" jdbcType="INTEGER" />
		<result column="isshow" property="isshow" jdbcType="INTEGER" />
		<result column="roletype" property="roletype" jdbcType="VARCHAR" />
		<result column="roleremark" property="roleremark" jdbcType="VARCHAR" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
	</resultMap>

<!-- 	<select id="getAuthorityByUsername" resultMap="BaseResultMap" parameterType="java.lang.String"> -->
<!-- 		SELECT e.id, e.realname, e.username, e.password, e.department, e.enabled, e.isshow, r.roletype as roletype, r.remark as roleremark, r.rolename -->
<!-- 		FROM -->
<!-- 		TB_EMPLOYEE e -->
<!-- 		LEFT JOIN TB_EMPLOYEE_ROLES er ON er.eid = e.id -->
<!-- 		LEFT JOIN TB_ROLES r ON r.enabled =1 and er.rid = r.id -->
<!-- 		where e.username = #{username,jdbcType=VARCHAR} -->
<!-- 		LIMIT 1 -->
<!-- 	</select> -->

<select id="getAuthorityByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT e.id, e.realname, e.username, e.password, e.department, e.enabled, e.isshow
		FROM
		TB_EMPLOYEE e
		where e.username = #{username,jdbcType=VARCHAR}
		LIMIT 1
	</select>
	
</mapper>