<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.emg.projectsmanage.dao.process.WorkTasksModelDao">
	<resultMap id="BaseResultMap"
		type="com.emg.projectsmanage.pojo.WorkTasksModel">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="userid" property="userid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="roleid" property="roleid" jdbcType="INTEGER" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
		<result column="processname" property="processname" jdbcType="VARCHAR" />
		<result column="processid" property="processid" jdbcType="VARCHAR" />
		<result column="systemid" property="systemid" jdbcType="INTEGER" />
		<result column="totaltask" property="totaltask" jdbcType="INTEGER" />
		<result column="idletask" property="idletask" jdbcType="INTEGER" />
		<result column="edittask" property="edittask" jdbcType="INTEGER" />
		<result column="qctask" property="qctask" jdbcType="INTEGER" />
		<result column="checktask" property="checktask" jdbcType="INTEGER" />
		<result column="completetask" property="completetask" jdbcType="INTEGER" />
		<result column="time" property="time" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getProjectsProgressByUserid" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
			t.`id`,
			t.`userid`,
			t.`username`,
			t.`roleid`,
			t.`rolename`,
			t.`systemid`,
			t.`processid`,
			p.`name` AS processname,
			t.`totaltask`,
			t.`edittask`,
			t.`qctask`,
			t.`checktask`,
			t.`completetask`,
			t.`time`
		FROM
			tb_worktasks t
			LEFT JOIN tb_process p ON p.`id` = t.`processid`
		<where>
			t.`time` = (SELECT MAX(`time`) FROM tb_worktasks
			<if test="time != null">
				<![CDATA[WHERE `time` < #{time}]]>
			</if> )
			<if test="userid != null">
				AND t.`userid` = #{userid}
			</if>
			<if test="username != null">
				AND t.`username` like '%${username}%'
			</if>
			<if test="roleid != null">
				AND t.`roleid` = #{roleid}
			</if>
			<if test="processid != null">
				AND t.`processid` = #{processid}
			</if>
			<if test="processname != null">
				AND p.`name` like #{processname}
			</if>
		</where>
		ORDER BY
			<if test="orderby != null">
				${orderby},
			</if>
			t.`userid`,
			t.`roleid`
		<if test="limit != null">
			LIMIT #{limit}
		</if>
		<if test="offset != null">
			OFFSET #{offset}
		</if>
	</select>
	<select id="countProjectsProgressByUserid" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT
			COUNT(1)
		FROM
			tb_worktasks t
			LEFT JOIN tb_process p ON p.`id` = t.`processid`
		<where>
			t.`time` = (SELECT MAX(`time`) FROM tb_worktasks
			<if test="time != null">
				<![CDATA[WHERE `time` < #{time}]]>
			</if> )
			<if test="userid != null">
				AND t.`userid` = #{userid}
			</if>
			<if test="username != null">
				AND t.`username` like '%${username}%'
			</if>
			<if test="roleid != null">
				AND t.`roleid` = #{roleid}
			</if>
			<if test="processid != null">
				AND t.`processid` = #{processid}
			</if>
			<if test="processname != null">
				AND p.`name` like #{processname}
			</if>
		</where>
	</select>
	<select id="getProjectsProgress" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
			p.`id` AS projectid,
			p.`name` AS projectname,
			p.`processid` AS processid,
			p.`systemid`,
			p.`tasknum` AS totaltask,
			SUM(CASE WHEN t.`roleid` = 5 THEN t.`edittask` ELSE 0 END) AS edittask,
			SUM(CASE WHEN t.`roleid` = 5 THEN t.`qctask` ELSE 0 END) AS qctask,
			SUM(CASE WHEN t.`roleid` = 5 THEN t.`checktask` ELSE 0 END) AS checktask,
			SUM(CASE WHEN t.`roleid` = 5 THEN t.`completetask` ELSE 0 END) AS completetask,
			p.`tasknum` - SUM(CASE WHEN t.`roleid` = 5 THEN t.`edittask` ELSE 0 END) - SUM(CASE WHEN t.`roleid` = 5 THEN t.`qctask` ELSE 0 END) - SUM(CASE WHEN t.`roleid` = 5 THEN t.`checktask` ELSE 0 END) - SUM(CASE WHEN t.`roleid` = 5 THEN t.`completetask` ELSE 0 END) AS idletask
		FROM projectmanager.tb_projects p
		LEFT JOIN process.tb_worktasks t 
			ON t.`projectid` = p.`id`
		<where>
			<if test="projectid != null">
				p.`id` = #{projectid}
			</if>
			<if test="projectIDs != null">
				AND (p.`owner` = 0 or (p.`owner` = 1 and p.`id` in
				<foreach collection="projectIDs" item="projectID" open="(" close=")"
					separator=",">
					#{projectID}
				</foreach>
				))
			</if>
			<if test="projectname != null">
				AND p.`name` like #{projectname}
			</if>
			<if test="processid != null">
				AND p.`processid` = #{processid}
			</if>
		</where>
		GROUP BY
			p.`id`
		ORDER BY
			<if test="orderby != null">
				${orderby},
			</if>
			p.`priority` desc,
			p.`id`
		<if test="limit != null">
			LIMIT #{limit}
		</if>
		<if test="offset != null">
			OFFSET #{offset}
		</if>
	</select>
	<insert id="newProjectsProgress" parameterType="com.emg.projectsmanage.pojo.WorkTasksModel" >
	    insert into process.tb_worktasks 
	    	(`userid`, 
	    	`username`, 
	    	`roleid`, 
	    	`rolename`, 
	    	`systemid`, 
	    	`processid`, 
	    	`totaltask`, 
	    	`edittask`, 
	    	`qctask`, 
	    	`checktask`, 
	    	`completetask`,
	    	`time`)
	    values
	    	(#{userid,jdbcType=INTEGER}, 
	    	#{username,jdbcType=VARCHAR}, 
	    	#{roleid,jdbcType=INTEGER}, 
	    	#{rolename,jdbcType=VARCHAR}, 
	    	#{systemid,jdbcType=INTEGER}, 
	      	#{processid,jdbcType=BIGINT},
	      	#{totaltask,jdbcType=INTEGER}, 
	      	#{edittask,jdbcType=INTEGER}, 
	      	#{qctask,jdbcType=INTEGER}, 
	      	#{checktask,jdbcType=INTEGER}, 
	      	#{completetask,jdbcType=INTEGER},
	      	#{time,jdbcType=VARCHAR})
	</insert>
</mapper>