<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emg.poiwebeditor.dao.pepro.qctask.ItemInfoModelDao">
  <resultMap id="BaseResultMap" type="com.emg.poiwebeditor.pojo.qctask.ItemInfoModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="layername" jdbcType="VARCHAR" property="layername" />
    <result column="enable" jdbcType="SMALLINT" property="enable" />
    <result column="unit" jdbcType="SMALLINT" property="unit" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="systype" jdbcType="INTEGER" property="systype" />
    <result column="referdata" jdbcType="VARCHAR" property="referdata" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, oid, name, layername, enable, unit, type, systype, referdata, module, updatetime
  </sql>
  <select id="selectByExample" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from qctask.tb_iteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
		limit ${limit}
	</if>
	<if test="offset != null">
		offset ${offset}
	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qctask.tb_iteminfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from qctask.tb_iteminfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModelExample">
    delete from qctask.tb_iteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModel">
    insert into qctask.tb_iteminfo (id, oid, name, 
      layername, enable, unit, 
      type, systype, referdata, 
      module, updatetime)
    values (#{id,jdbcType=BIGINT}, #{oid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{layername,jdbcType=VARCHAR}, #{enable,jdbcType=SMALLINT}, #{unit,jdbcType=SMALLINT}, 
      #{type,jdbcType=INTEGER}, #{systype,jdbcType=INTEGER}, #{referdata,jdbcType=VARCHAR}, 
      #{module,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModel">
    insert into qctask.tb_iteminfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="layername != null">
        layername,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="systype != null">
        systype,
      </if>
      <if test="referdata != null">
        referdata,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="layername != null">
        #{layername,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=SMALLINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="systype != null">
        #{systype,jdbcType=INTEGER},
      </if>
      <if test="referdata != null">
        #{referdata,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModelExample" resultType="java.lang.Long">
    select count(*) from qctask.tb_iteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qctask.tb_iteminfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.layername != null">
        layername = #{record.layername,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=SMALLINT},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=SMALLINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.systype != null">
        systype = #{record.systype,jdbcType=INTEGER},
      </if>
      <if test="record.referdata != null">
        referdata = #{record.referdata,jdbcType=VARCHAR},
      </if>
      <if test="record.module != null">
        module = #{record.module,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qctask.tb_iteminfo
    set id = #{record.id,jdbcType=BIGINT},
      oid = #{record.oid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      layername = #{record.layername,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=SMALLINT},
      unit = #{record.unit,jdbcType=SMALLINT},
      type = #{record.type,jdbcType=INTEGER},
      systype = #{record.systype,jdbcType=INTEGER},
      referdata = #{record.referdata,jdbcType=VARCHAR},
      module = #{record.module,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModel">
    update qctask.tb_iteminfo
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="layername != null">
        layername = #{layername,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=SMALLINT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="systype != null">
        systype = #{systype,jdbcType=INTEGER},
      </if>
      <if test="referdata != null">
        referdata = #{referdata,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emg.poiwebeditor.pojo.qctask.ItemInfoModel">
    update qctask.tb_iteminfo
    set oid = #{oid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      layername = #{layername,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=SMALLINT},
      unit = #{unit,jdbcType=SMALLINT},
      type = #{type,jdbcType=INTEGER},
      systype = #{systype,jdbcType=INTEGER},
      referdata = #{referdata,jdbcType=VARCHAR},
      module = #{module,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>