<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emg.projectsmanage.dao.projectsmanager.CapacityModelDao" >
  <resultMap id="BaseResultMap" type="com.emg.projectsmanage.pojo.CapacityModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tasktype" property="tasktype" jdbcType="INTEGER" />
    <result column="processid" property="processid" jdbcType="BIGINT" />
    <result column="processname" property="processname" jdbcType="VARCHAR" />
    <result column="projectid" property="projectid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="iswork" property="iswork" jdbcType="INTEGER" />
    <result column="errorcount" property="errorcount" jdbcType="BIGINT" />
    <result column="taskcount" property="taskcount" jdbcType="BIGINT" />
    <result column="modifypoi" property="modifypoi" jdbcType="BIGINT" />
    <result column="createpoi" property="createpoi" jdbcType="BIGINT" />
    <result column="deletepoi" property="deletepoi" jdbcType="BIGINT" />
    <result column="existdeletepoi" property="existdeletepoi" jdbcType="BIGINT" />
    <result column="confirmpoi" property="confirmpoi" jdbcType="BIGINT" />
    <result column="visualerrorcount" property="visualerrorcount" jdbcType="BIGINT" />
    <result column="fielddatacount" property="fielddatacount" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tasktype, processid, processname, projectid, userid, username, roleid, time, iswork, 
    errorcount, taskcount, modifypoi, createpoi, deletepoi, existdeletepoi, confirmpoi, visualerrorcount, 
    fielddatacount, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.emg.projectsmanage.pojo.CapacityModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_projects_capacity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null">
		limit ${limit}
	</if>
	<if test="offset != null">
		offset ${offset}
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_projects_capacity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_projects_capacity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.emg.projectsmanage.pojo.CapacityModelExample" >
    delete from tb_projects_capacity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.emg.projectsmanage.pojo.CapacityModel" >
    insert into tb_projects_capacity (id, tasktype, processid, 
      processname, projectid, userid, 
      username, roleid, time, iswork, 
      errorcount, taskcount, modifypoi, 
      createpoi, deletepoi, existdeletepoi, confirmpoi, 
      visualerrorcount, fielddatacount, createtime
      )
    values (#{id,jdbcType=BIGINT}, #{tasktype,jdbcType=INTEGER}, #{processid,jdbcType=BIGINT}, 
      #{processname,jdbcType=VARCHAR}, #{projectid,jdbcType=BIGINT}, #{userid,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{iswork,jdbcType=INTEGER},
      #{errorcount,jdbcType=BIGINT}, #{taskcount,jdbcType=BIGINT}, #{modifypoi,jdbcType=BIGINT}, 
      #{createpoi,jdbcType=BIGINT}, #{deletepoi,jdbcType=BIGINT}, #{existdeletepoi,jdbcType=BIGINT}, #{confirmpoi,jdbcType=BIGINT}, 
      #{visualerrorcount,jdbcType=BIGINT}, #{fielddatacount,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <!-- add by lianhr begin 2018/12/17 -->
  <insert id="insertSpecial" parameterType="com.emg.projectsmanage.pojo.QualityCapcityModel" >
    insert into tb_projects_capacity_quality (id, tasktype, processid, 
      processname, projectid, errortype, userid, 
      username, roleid, time, iswork, count, 
      errorcount, visualerrorcount, createtime
      )
    values (#{id,jdbcType=BIGINT}, #{tasktype,jdbcType=INTEGER}, #{processid,jdbcType=BIGINT}, 
      #{processname,jdbcType=VARCHAR}, #{projectid,jdbcType=BIGINT}, #{errortype,jdbcType=BIGINT}, #{userid,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{iswork,jdbcType=INTEGER},
      #{count,jdbcType=BIGINT}, #{errorcount,jdbcType=BIGINT},  
      #{visualerrorcount,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <!-- add by lianhr end -->
  <insert id="insertSelective" parameterType="com.emg.projectsmanage.pojo.CapacityModel" >
    insert into tb_projects_capacity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="processid != null" >
        processid,
      </if>
      <if test="processname != null" >
        processname,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="iswork != null" >
        iswork,
      </if>
      <if test="errorcount != null" >
        errorcount,
      </if>
      <if test="taskcount != null" >
        taskcount,
      </if>
      <if test="modifypoi != null" >
        modifypoi,
      </if>
      <if test="createpoi != null" >
        createpoi,
      </if>
      <if test="deletepoi != null" >
        deletepoi,
      </if>
      <if test="existdeletepoi != null" >
        existdeletepoi,
      </if>
      <if test="confirmpoi != null" >
        confirmpoi,
      </if>
      <if test="visualerrorcount != null" >
        visualerrorcount,
      </if>
      <if test="fielddatacount != null" >
        fielddatacount,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tasktype != null" >
        #{tasktype,jdbcType=INTEGER},
      </if>
      <if test="processid != null" >
        #{processid,jdbcType=BIGINT},
      </if>
      <if test="processname != null" >
        #{processname,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="iswork != null" >
        #{iswork,jdbcType=INTEGER},
      </if>
      <if test="errorcount != null" >
        #{errorcount,jdbcType=BIGINT},
      </if>
      <if test="taskcount != null" >
        #{taskcount,jdbcType=BIGINT},
      </if>
      <if test="modifypoi != null" >
        #{modifypoi,jdbcType=BIGINT},
      </if>
      <if test="createpoi != null" >
        #{createpoi,jdbcType=BIGINT},
      </if>
       <if test="deletepoi != null" >
        #{deletepoi,jdbcType=BIGINT},
      </if>
      <if test="existdeletepoi != null" >
        #{existdeletepoi,jdbcType=BIGINT},
      </if>
      <if test="confirmpoi != null" >
        #{confirmpoi,jdbcType=BIGINT},
      </if>
      <if test="visualerrorcount != null" >
        #{visualerrorcount,jdbcType=BIGINT},
      </if>
      <if test="fielddatacount != null" >
        #{fielddatacount,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.emg.projectsmanage.pojo.CapacityModelExample" resultType="java.lang.Integer" >
    select count(*) from tb_projects_capacity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_projects_capacity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tasktype != null" >
        tasktype = #{record.tasktype,jdbcType=INTEGER},
      </if>
      <if test="record.processid != null" >
        processid = #{record.processid,jdbcType=BIGINT},
      </if>
      <if test="record.processname != null" >
        processname = #{record.processname,jdbcType=VARCHAR},
      </if>
      <if test="record.projectid != null" >
        projectid = #{record.projectid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
       <if test="record.iswork != null" >
        iswork = #{record.iswork,jdbcType=INTEGER},
      </if>
      <if test="record.errorcount != null" >
        errorcount = #{record.errorcount,jdbcType=BIGINT},
      </if>
      <if test="record.taskcount != null" >
        taskcount = #{record.taskcount,jdbcType=BIGINT},
      </if>
      <if test="record.modifypoi != null" >
        modifypoi = #{record.modifypoi,jdbcType=BIGINT},
      </if>
      <if test="record.createpoi != null" >
        createpoi = #{record.createpoi,jdbcType=BIGINT},
      </if>
      <if test="record.deletepoi != null" >
        deletepoi = #{record.deletepoi,jdbcType=BIGINT},
      </if>
      <if test="record.existdeletepoi != null" >
        existdeletepoi = #{record.existdeletepoi,jdbcType=BIGINT},
      </if>
      <if test="record.confirmpoi != null" >
        confirmpoi = #{record.confirmpoi,jdbcType=BIGINT},
      </if>
      <if test="record.visualerrorcount != null" >
        visualerrorcount = #{record.visualerrorcount,jdbcType=BIGINT},
      </if>
      <if test="record.fielddatacount != null" >
        fielddatacount = #{record.fielddatacount,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_projects_capacity
    set id = #{record.id,jdbcType=BIGINT},
      tasktype = #{record.tasktype,jdbcType=INTEGER},
      processid = #{record.processid,jdbcType=BIGINT},
      processname = #{record.processname,jdbcType=VARCHAR},
      projectid = #{record.projectid,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      roleid = #{record.roleid,jdbcType=INTEGER},
      time = #{record.time,jdbcType=VARCHAR},
      iswork = #{record.iswork,jdbcType=INTEGER},
      errorcount = #{record.errorcount,jdbcType=BIGINT},
      taskcount = #{record.taskcount,jdbcType=BIGINT},
      modifypoi = #{record.modifypoi,jdbcType=BIGINT},
      createpoi = #{record.createpoi,jdbcType=BIGINT},
      deletepoi = #{record.deletepoi,jdbcType=BIGINT},
      existdeletepoi = #{record.existdeletepoi,jdbcType=BIGINT},
      confirmpoi = #{record.confirmpoi,jdbcType=BIGINT},
      visualerrorcount = #{record.visualerrorcount,jdbcType=BIGINT},
      fielddatacount = #{record.fielddatacount,jdbcType=BIGINT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.emg.projectsmanage.pojo.CapacityModel" >
    update tb_projects_capacity
    <set >
      <if test="tasktype != null" >
        tasktype = #{tasktype,jdbcType=INTEGER},
      </if>
      <if test="processid != null" >
        processid = #{processid,jdbcType=BIGINT},
      </if>
      <if test="processname != null" >
        processname = #{processname,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="iswork != null" >
        iswork = #{iswork,jdbcType=INTEGER},
      </if>
      <if test="errorcount != null" >
        errorcount = #{errorcount,jdbcType=BIGINT},
      </if>
      <if test="taskcount != null" >
        taskcount = #{taskcount,jdbcType=BIGINT},
      </if>
      <if test="modifypoi != null" >
        modifypoi = #{modifypoi,jdbcType=BIGINT},
      </if>
      <if test="createpoi != null" >
        createpoi = #{createpoi,jdbcType=BIGINT},
      </if>
      <if test="deletepoi != null" >
        deletepoi = #{deletepoi,jdbcType=BIGINT},
      </if>
      <if test="existdeletepoi != null" >
        existdeletepoi = #{existdeletepoi,jdbcType=BIGINT},
      </if>
      <if test="confirmpoi != null" >
        confirmpoi = #{confirmpoi,jdbcType=BIGINT},
      </if>
      <if test="visualerrorcount != null" >
        visualerrorcount = #{visualerrorcount,jdbcType=BIGINT},
      </if>
      <if test="fielddatacount != null" >
        fielddatacount = #{fielddatacount,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emg.projectsmanage.pojo.CapacityModel" >
    update tb_projects_capacity
    set tasktype = #{tasktype,jdbcType=INTEGER},
      processid = #{processid,jdbcType=BIGINT},
      processname = #{processname,jdbcType=VARCHAR},
      projectid = #{projectid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      iswork = #{iswork,jdbcType=INTEGER},
      errorcount = #{errorcount,jdbcType=BIGINT},
      taskcount = #{taskcount,jdbcType=BIGINT},
      modifypoi = #{modifypoi,jdbcType=BIGINT},
      createpoi = #{createpoi,jdbcType=BIGINT},
      deletepoi = #{deletepoi,jdbcType=BIGINT},
      existdeletepoi = #{existdeletepoi,jdbcType=BIGINT},
      confirmpoi = #{confirmpoi,jdbcType=BIGINT},
      visualerrorcount = #{visualerrorcount,jdbcType=BIGINT},
      fielddatacount = #{fielddatacount,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>